<div>
  <p class="header">{{ title }}</p>
  <mat-card>
    <mat-card-content class="container">
      <mat-form-field appearance="standard">
        <mat-label>Select Buildings</mat-label>
        <mat-select [(value)]="selectedBuildingId">
          <mat-option *ngFor="let b of buildings" [value]="b.id">{{
            b.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Select Objects</mat-label>
        <mat-select [(value)]="selectedObjectId">
          <mat-option *ngFor="let o of objects" [value]="o.id">{{
            o.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Select DataFields</mat-label>
        <mat-select [(value)]="selectedDataFieldId">
          <mat-option *ngFor="let d of dataFields" [value]="d.id">{{
            d.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input
          [formGroup]="dateRangeInput"
          [rangePicker]="picker"
        >
          <input
            formControlName="startDate"
            matStartDate
            placeholder="Start date"
          />
          <input formControlName="endDate" matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </mat-card-content>
    <mat-error class="container" *ngIf="!isDateRangeValid"
      >Invalid Date</mat-error
    >
    <mat-card-actions class="container">
      <button mat-raised-button color="accent" (click)="searchBtnClickEvent()">
        Search
      </button>
      <button
        style="margin-left: 2px"
        mat-flat-button
        color="warn"
        (click)="resetFilter()"
      >
        Reset
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title *ngIf="dataLoaded > 0" class="center"
      >Timeseries Data ({{ dataLoaded }})</mat-card-title
    >
    <p class="center" *ngIf="!isDataFound">
      <mat-card-title class="danger">No Data Found</mat-card-title>
    </p>
  </mat-card>

  <canvas [ngStyle]="{ display: !isDataFound ? 'none' : '' }" id="ctx-canvas">{{
    chart
  }}</canvas>
</div>
