<div>
  <mat-card class="header-container">
    <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>Select Buildings</mat-label>
        <mat-select [(value)]="selectedBuildingId">
          <mat-option *ngFor="let b of buildings" [value]="b.id">{{
            b.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Select Objects</mat-label>
        <mat-select [(value)]="selectedObjectId">
          <mat-option *ngFor="let o of objects" [value]="o.id">{{
            o.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Select DataFields</mat-label>
        <mat-select [(value)]="selectedDataFieldId">
          <mat-option *ngFor="let d of dataFields" [value]="d.id">{{
            d.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input
          [formGroup]="dateRangeInput"
          [rangePicker]="picker"
        >
          <input
            formControlName="startDate"
            matStartDate
            placeholder="Start date"
          />
          <input formControlName="endDate" matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-error *ngIf="!isDateRangeValid">Invalid Date</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="getDataFromReading()">
        Search
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="chart-containe" *ngIf="dataLoaded > 0">
    <mat-card-title class="center"
      >Timeseries Data ({{ dataLoaded }})</mat-card-title
    >
  </mat-card>
</div>

<canvas id="ctx-canvas">>{{ chart }}</canvas>
